.left{
    width: 40%;
    align-items: center;

  
}
.left img {
    width: 100%;
    
}
.right{
    width:60%;
    background-color: rgb(197, 199, 202);
   
   padding: 13.64px;
   
   
    
}
.but{
    background-color: rgb(232, 118, 19);
}
.main{
    display:inline-flex;
    border:5px solid rgb(232, 118, 19);
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
}